@tailwind base;
@tailwind components;
@tailwind utilities;


.modal {
  width: 30%;
  height: 100%;
  z-index: 1;
  position: fixed;
  /*background-color: #fff;*/
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));

  /*margin: 0px auto;
  padding: 20px;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;*/
}

.hide {
  display: none;
}

