@tailwind base;
@tailwind components;
@tailwind utilities;


.modal {
  width: 30%;
  height: 100%;
  z-index: 1;
  position: fixed;
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
}

@media (max-width: 768px) {
	.modal {
	  width: 60%;
	  height: 100%;
	  z-index: 1;
	  position: fixed;
	  --tw-bg-opacity: 1;
	  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
	}
}


.hide {
  display: none;
}

